<div class="one-column sign-up-forum">

    <form class="register-signin-form" ng-submit="register()">
		<h3>Register or <a href="/#/login">Login</a></h3>

		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-user"></i></span>
			<input class="form-control" ng-model="user.name" placeholder="Name" name="name" id="name" type="text">
		</div>

		<span class="help-block"></span>

		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-user"></i></span>
			<input class="form-control" ng-model="user.email" placeholder="Email" name="email" id="email" type="text">
		</div>
		<span class="help-block"></span>

		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
			<input class="form-control" ng-model="user.password" placeholder="Password" name="password" id="password" type="password">
		</div>
		<span class="help-block"></span>

		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
			<input class="form-control" ng-model="user.password_confirmation" placeholder="Confirm Password" name="password_confirmation" id="password_confirmation" type="password">
		</div>
		<span class="help-block"></span>

		<button class="btn btn-lg btn-primary btn-block" type="submit">Yalla! Sign Up</button>
	</form>

</div>