<link rel="stylesheet" href="assets/css/cars/view.css">
<div class="row clearfix one-column">

    <!-- Top Navigation -->
    <div class="title">

        <span id="back"><i class="fa fa-arrow-circle-left"></i> <span class="go-back">Go Back</span></span>

        <h1 class="title">Showroom</h1>
    </div>

	<script>
		$(".go-back").hide()
		$(".fa-arrow-circle-left").mouseenter(function(){
		    $(".go-back").show(400)
		}).mouseleave( function(){
		    $(".go-back").hide(400)
		});
	</script>

    <!--Car Details-->
    <div class="car-details">
        <!--Title -->

        <div class="row clearfix result-entry">
            <div class="col-md-9 col-sm-9 column title-color"><img class="result-image" src="/assets/img/custom/car-thumb.jpg">

                <h3 id="car-title">2007 - BMW - M3</h3>
                <!--<h3 id="car-title">{{ car.year}} - {{ car.model.brand.name_en }} - {{ car.model.name_en }}</h3>-->
            </div>
            <div class="col-md-3 col-sm-3 column interested-box">
                <div class="price-cost text-center">{{ car.price }}</div>
                <favorite-tpl favoreable-type="Car" favoreable-id="{{car.id}}"/>
            </div>
        </div>

        <!--Slide Show -->
        <div class="row clearfix">
            <div class="col-md-12 column image-slideshow"><img class="img-responsive" src="/assets/img/custom/M3-Black-Edition.jpg" width="100%"/></div>
        </div>

        <!--General Pannel-->
        <div class="row clearfix">
            <div class="col-md-12 column  gen-info">
                <div class="row clearfix">
                    <div class="col-md-12 column details-tab">
                        <h3>General</h3>
                    </div>
                </div>
                <div class="row clearfix bottom-pannel">
                    <div class="col-md-6 column description">
                        <h4><span class="glyphicon glyphicon-comment"></span>Description</h4>

                        <p>{{ car.description }}</p>
                        <span>-Posted by <a href="">{{ car.user.name }}</a> 12 Days Ago</span></div>
                    <div class="col-md-6 column overview">
                        <h4><span class="glyphicon glyphicon-list-alt"></span>Overview</h4>
                        <ul class="features">
                            <div ng-repeat="tag in car.tags">
                                <li><a href="">{{ tag.name }}</a></li>
                            </div>
                            @endforeach
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Contant Pannel-->
        <div class="row clearfix">
            <div class="col-md-12 column  gen-info">
                <div class="row clearfix">
                    <div class="col-md-12 column details-tab">
                        <h3>Contact</h3>
                    </div>
                </div>
                <div class="row clearfix bottom-pannel">
                    <div class="col-md-6 column">
                        <div class="row clearfix">
                            <div class="col-md-12 column details">
                                <h4><span class="glyphicon glyphicon-phone"> </span>Details</h4>
                                <ul>
                                    <li> Contact Name:{{ car.user.name_en }}</li>
                                    <li> Phone:{{ car.user.phone }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column message" id="messageDiv" ng-controller="MessagesController">
                                <h4><span class="glyphicon glyphicon-send"></span>Message Seller</h4>
                                <form ng-submit="saveMessage(messages)">
	                                <div class="messageAlert"></div>
	                                <input type="hidden" ng-init="messages.messageable_id='1'" ng-model="messages.messageable_id" name="messageable_id" >
	                                <input type="hidden" ng-init="messages.messageable_type='Car'" ng-model="messages.messageable_type" name="messageable_type" >
	                                <input type="hidden" ng-init="messages.sender_id='1'" ng-model="messages.sender_id" name="sender_id" >
	                                <input type="hidden" ng-init="messages.recepient_id='2'" ng-model="messages.recepient_id" name="recepient_id" >
	                                <input type="hidden" ng-init="messages.thread_id='1'" ng-model="messages.thread_id" name="thread_id" >
                                    <textarea ng-model="messages.body" name="message" placeholder="Send a Message!"></textarea>
	                                <p>
	                                    <button type="submit" class="btn btn-primary btn-sm hidden-xs pull-right"> Send
	                                        Message
	                                    </button>
	                                    <button type="submit" class="btn btn-primary btn-lg btn-block visible-xs">Send
	                                        Message
	                                    </button>
	                                </p>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

