<div class="modal-body" ng-controller="CarsController">
	<div class="cd-popup-container">
		<h3>NotifyMe</h3>
		<p> NotifyMe will automatically send you a notification when a new submission matches your criteria.</p>
		<dl>
			<div class="row">
				<h4>I am looking for:</h4>

				<div class="col-xs-6">
					<dt>Make:</dt>
					<dd>
						<span ng-repeat="make in selectedMakeNames">{[make.name]} {[ $last ? '' : ', ']} </span>
					</dd>
					<dt>Brand:</dt>
					<dd>
						<span ng-repeat="brand in selectedBrandNames">{[brand.name]} {[ $last ? '' : ', ']} </span>
					</dd>
					<dt>Type:</dt>
					<dd>
						<span ng-repeat="type in selectedTypeNames">{[type.name]} {[ $last ? '' : ', ']} </span>
					</dd>
					<dt>Model:</dt>
					<dd>
						<span ng-repeat="model in selectedModelNames">{[model.name]} {[ $last ? '' : ', ']} </span>
					</dd>
				</div>

				<div class="col-xs-6">
					<dt>Price:</dt>
					<dd>{[priceFrom]} - {[priceTo]}</dd>
					<dt>Year:</dt>
					<dd>{[yearFrom]} - {[yearTo]}</dd>
					<dt>Mileage:</dt>
					<dd>{[mileageFrom]} - {[mileageTo]}</dd>
				</div>
			</div>
		</dl>
		<div class="row">
			<p class="checkbox-title">Notify me by:</p>

			<div class="col-xs-5">
				<input type="checkbox" checked> <span> E-Mail </span>
			</div>
			<div class="col-xs-2">OR</div>
			<div class="col-xs-5">
				<input class="sms-checkbox" type="checkbox"> <span> SMS Message </span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 notifyMe-notification-bar">
				<span id="sms-rate-notify">Standard text messaging rates may apply. Check with your provider.</span>
				<span id="no-mobile-number-message">Update profile with your mobile number to use sms feature.</span>
			</div>
		</div>
		<ul class="cd-buttons">
			<li><a class="cd-close" href="#0" ng-click="cancel()">Cancel</a></li>
			<li ng-click="notifyMe()"><a class="cd-save" href="#0">Save</a></li>
		</ul>
		<a href="#0" class="cd-popup-close img-replace"></a>
	</div>
</div>