@extends('site.layouts._three_columns_left_right_sidebar')

<!-- Styles -->
@section('style')
    @parent

{{ HTML::style('site/css/modules/inbox.css') }}

@stop
<!-- End Right Sidebar -->

<!-- Middle Section #content -->
@section('content')
    @parent


<div class="title">

    <span id="back"><i class="fa fa-arrow-circle-left"></i> <span class="go-back">Go Back to Inbox</span></span>

    <h1 class="title">Message</h1>

</div>

<div class="row clearfix">

    <div class="col-md-12 column message-unit">

        <div class="row clearfix">
            <div class="col-md-12 column message-title new-message">
                <h2>Khalid has a question about the: 2005 Toyota Corolla</h2>
                <span class="delete-message-btn cd-popup-trigger"><a href="#">Delete</a></span>
            </div>
        </div>

        <div class="row clearfix message-preview">
            <div class="col-md-12 column">
                {{ HTML::image('site/img/custom/user_profile_picture.jpg', 'Profile Picture', array('class'=>'profile-picture-inbox pull-left', 'width'=>'50','height'=>'50')) }}
                <div class="message-text  col-xs-10">
                    <p>"What color is the interior of the car?"</p>
                    <p>-Khalid on 5:55 7/5/15 </p>
                </div>

                <div class="reply-text col-xs-10">
                    {{ HTML::image('site/img/custom/user_profile_picture.jpg', 'Profile Picture', array('class'=>'profile-picture-inbox pull-right', 'width'=>'50','height'=>'50')) }}

                    <p>"It's leather and black. I'll update the post with a picture."</p>
                    <p>-James on 5:55 7/5/15 </p>
                </div>

                    <div class="reply">

                        <textarea class="col-xs-12" placeholder="Enter Message"></textarea>

                        <button class="message-send-btn pull-right">Send</button>

            </div>
        </div>
    </div>


</div>

    @stop
<!-- End Middle Section #content -->

<!-- Scripts -->
@section('script')
    @parent


{{ HTML::script('site\vendors\autogrow-master\autogrow.min.js') }}

<script>
    //Text Area Auto Grow
    $('textarea').autogrow();

    // Back Button Hint
    $(".go-back").hide()

    $( ".title .fa" ).hover(
        function() {
            $(".go-back").fadeIn()()
            ;
        }, function() {
            $(".go-back").fadeOut()
        }
    );

</script>
@stop
<!-- End Scripts -->