input {
    border: 1px solid #e5e5e5;
}

.select2-container {
    padding-left: 0;
    padding-right: 0;
}

.panel-body {
    padding-left: 30px;
    padding-right: 30px;
}

.bs-wizard-sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.round {
    border-radius: 6px;
    text-align: center;
}

.bottom-margin {
    margin-bottom: 20px;
}

#car-submission > fieldset > div.bs-step.inv.shadow > div > div.panel-heading > h3 {
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.panel-default > .panel-heading {
    background-color: rgba(247, 247, 247, 0.43);
    color: rgb(118, 114, 114);
}

.panel {
    border: 1px solid rgba(90, 134, 154, 0.0)
}

#car-submission > fieldset > div.bs-step.inv.shadow > div {
    border: 5px solid #3694c8;
}

label {
    background-color: #009fe3;
    color: #FFFFFF;
}

.bs-wizard-step {
    float: right;
}

.counter {
    background-color: white;
    border: none;
    padding: 5px;
}

.select2-container .select2-choice {

    border-radius: 0 4px 4px 0;

}

.hint {
    padding-left: 5px;
    color: #DBDBDB;

}

label {
    padding-top: 9px;
    height: 37px;
}

input {
    height: 37px;
    border-radius: 0 4px 4px 0;

}

.select2-container .select2-choice {
    height: 37px;
    padding-top: 5px;
}

.panel-body .row {
    margin-bottom: 10px;
}

label {
    background-color: #0aa699;
    color: #FFFFFF;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0 3px 3px;
    border: 1px solid #DDDDDD;

}

textarea {
    resize: none;
    overflow: auto;
    word-wrap: break-word;
    border-radius: 0 10px 10px 10px

}

#car-submission textarea {
    min-height: 100px;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(10, 166, 153, 0.95);
    border: 1px solid rgba(10, 166, 153, 0.95);
}

#companyName {
    padding-left: 18px;
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;

}

input[type="checkbox"] {
    height: 14px;
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 3px;
}

.tags input[type="text"] {
    border: none;
    height: 25px;
}

.label-info {
    background-color: #0aa699;
}input {
    border: 1px solid #e5e5e5;
}

.select2-container {
    padding-left: 0;
    padding-right: 0;
}

.panel-body {
    padding-left: 30px;
    padding-right: 30px;
}

.bs-wizard-sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.round {
    border-radius: 6px;
    text-align: center;
}

.bottom-margin {
    margin-bottom: 20px;
}

#car-submission > fieldset > div.bs-step.inv.shadow > div > div.panel-heading > h3 {
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.panel-default > .panel-heading {
    background-color: rgba(247, 247, 247, 0.43);
    color: rgb(118, 114, 114);
}

.panel {
    border: 1px solid rgba(90, 134, 154, 0.0)
}

#car-submission > fieldset > div.bs-step.inv.shadow > div {
    border: 5px solid #3694c8;
}

label {
    background-color: #009fe3;
    color: #FFFFFF;
}

.bs-wizard-step {
    float: right;
}

.counter {
    background-color: white;
    border: none;
    padding: 5px;
}

.select2-container .select2-choice {

    border-radius: 0 4px 4px 0;

}

.hint {
    padding-left: 5px;
    color: #DBDBDB;
}

label {
    padding-top: 9px;
    height: 37px;
}

input {
    height: 37px;
    border-radius: 0 4px 4px 0;

}

.select2-container .select2-choice {
    height: 37px;
    padding-top: 5px;
}

.panel-body .row {
    margin-bottom: 10px;
}

label {
    background-color: #0aa699;
    color: #FFFFFF;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0 3px 3px;
    border: 1px solid #DDDDDD;

}

textarea {
    resize: none;
    overflow: auto;
    word-wrap: break-word;
    border-radius: 0 10px 10px 10px

}

#car-submission textarea {
    min-height: 100px;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(10, 166, 153, 0.95);
    border: 1px solid rgba(10, 166, 153, 0.95);
}

#companyName {
    padding-left: 18px;
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;

}

input[type="checkbox"] {
    height: 14px;
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 3px;
}

.tags input[type="text"] {
    border: none;
    height: 25px;
}

.label-info {
    background-color: #0aa699;
}input {
    border: 1px solid #e5e5e5;
}

.select2-container {
    padding-left: 0;
    padding-right: 0;
}

.panel-body {
    padding-left: 30px;
    padding-right: 30px;
}

.bs-wizard-sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.round {
    border-radius: 6px;
    text-align: center;
}

.bottom-margin {
    margin-bottom: 20px;
}

#car-submission > fieldset > div.bs-step.inv.shadow > div > div.panel-heading > h3 {
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.panel-default > .panel-heading {
    background-color: rgba(247, 247, 247, 0.43);
    color: rgb(118, 114, 114);
}

.panel {
    border: 1px solid rgba(90, 134, 154, 0.0)
}

#car-submission > fieldset > div.bs-step.inv.shadow > div {
    border: 5px solid #3694c8;
}

label {
    background-color: #009fe3;
    color: #FFFFFF;
}

.bs-wizard-step {
    float: right;
}

.counter {
    background-color: white;
    border: none;
    padding: 5px;
}

.select2-container .select2-choice {

    border-radius: 0 4px 4px 0;

}

.hint {
    padding-left: 5px;
    color: #DBDBDB;
}

label {
    padding-top: 9px;
    height: 37px;
}

input {
    height: 37px;
    border-radius: 0 4px 4px 0;

}

.select2-container .select2-choice {
    height: 37px;
    padding-top: 5px;
}

.panel-body .row {
    margin-bottom: 10px;
}

label {
    background-color: #0aa699;
    color: #FFFFFF;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0 3px 3px;
    border: 1px solid #DDDDDD;

}

textarea {
    resize: none;
    overflow: auto;
    word-wrap: break-word;
    border-radius: 0 10px 10px 10px

}

#car-submission textarea {
    min-height: 100px;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(10, 166, 153, 0.95);
    border: 1px solid rgba(10, 166, 153, 0.95);
}

#companyName {
    padding-left: 18px;
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;

}

input[type="checkbox"] {
    height: 14px;
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 3px;
}

.tags input[type="text"] {
    border: none;
    height: 25px;
}

.label-info {
    background-color: #0aa699;
}input {
    border: 1px solid #e5e5e5;
}

.select2-container {
    padding-left: 0;
    padding-right: 0;
}

.panel-body {
    padding-left: 30px;
    padding-right: 30px;
}

.bs-wizard-sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.round {
    border-radius: 6px;
    text-align: center;
}

.bottom-margin {
    margin-bottom: 20px;
}

#car-submission > fieldset > div.bs-step.inv.shadow > div > div.panel-heading > h3 {
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.panel-default > .panel-heading {
    background-color: rgba(247, 247, 247, 0.43);
    color: rgb(118, 114, 114);
}

.panel {
    border: 1px solid rgba(90, 134, 154, 0.0)
}

#car-submission > fieldset > div.bs-step.inv.shadow > div {
    border: 5px solid #3694c8;
}

label {
    background-color: #009fe3;
    color: #FFFFFF;
}

.bs-wizard-step {
    float: right;
}

.counter {
    background-color: white;
    border: none;
    padding: 5px;
}

.select2-container .select2-choice {

    border-radius: 0 4px 4px 0;

}

.hint {
    padding-left: 5px;
    color: #DBDBDB;
}

label {
    padding-top: 9px;
    height: 37px;
}

input {
    height: 37px;
    border-radius: 0 4px 4px 0;

}

.select2-container .select2-choice {
    height: 37px;
    padding-top: 5px;
}

.panel-body .row {
    margin-bottom: 10px;
}

label {
    background-color: #0aa699;
    color: #FFFFFF;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0 3px 3px;
    border: 1px solid #DDDDDD;

}

textarea {
    resize: none;
    overflow: auto;
    word-wrap: break-word;
    border-radius: 0 10px 10px 10px

}

#car-submission textarea {
    min-height: 100px;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(10, 166, 153, 0.95);
    border: 1px solid rgba(10, 166, 153, 0.95);
}

#companyName {
    padding-left: 18px;
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;

}

input[type="checkbox"] {
    height: 14px;
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 3px;
}

.tags input[type="text"] {
    border: none;
    height: 25px;
}

.label-info {
    background-color: #0aa699;
}