
/* Portrait tablet to landscape and desktop */
@media (max-width: 768px) and (max-width: 990px) {



.middle_section {
margin: 0px 15px 15px 15px;
}


.result-container {
	margin-bottom: 15px;
	left: 50%;
}
.result-middle {
	width: 229px;
	height: 79px;
	display: block;
	float: left;
}
.row-middle {
	margin-right: 0px;
	padding-top: 0px;
	margin-left: 0px;
}
.result-cost {
	height: 79px;
	width: 110px;
	float: left;
}
.select2-search-field {
	height: 35px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	width: 22px;
	height: 22px;
	top: -9px;
}
.select2-search-field {
	height: 35px;
}
.ui-slider {
	margin-top: 9px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	width: 22px;
	height: 22px;
	top: -9px;
}
.select2-container .select2-choice {
	height: 37px;
	padding-top: 5px;
}
.select2-container-multi .select2-choices .select2-search-field input {
	padding-left: 7px;
	padding-bottom: 4px;
	padding-top: 7px;
	width: 308px;
}
.padding-left {
	height: 37px;
	padding-left: 10px;
	padding-top: 7px;
}
}

/* Landscape phone to portrait tablet */
@media (min-width: 767px) {
.container {
	padding-right: 0;
	padding-left: 0;
	margin-right: 0;
	margin-left: 0;
}
.result-container {
	margin-bottom: 15px;
}
.result-middle {
	width: 300px;
	height: 79px;
	display: block;
	float: left;
}
.result-cost {
	height: 79px;
	width: 120px;
	float: left;
}
.container {
	padding-top: 5px;
	padding-left: 18%;
}
.select2-search-field {
	height: 25px;
}


 
}

/* Landscape phones and down */
@media (max-width: 545px) {
.result-container {
	width: 280px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	height: 187px;
}
.row-middle {
	margin-right: 0px;
	padding-top: 0px;
	margin-left: 0px;
}
.result-middle {
	position: absolute;
	top: 78px;
	width: 294px;
	height: 79px;
	display: block;
	float: left;
}
.result-cost {
	display: inline;
	height: 79px;
	width: 170px;
	position: relative;
	top: -79px;
	left: 124px;
}
.row-result-nav {
	margin-bottom: 15px;
}

.post-title-box {
	margin-top: 5px;
}
.padding-left {
	height: 37px;
	padding-left: 10px;
	padding-top: 7px;
}
.select2-search-field {
	height: 35px;
}
.ui-slider {
	margin-top: 9px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	width: 22px;
	height: 22px;
	top: -9px;
}
.select2-container .select2-choice {
	height: 37px;
	padding-top: 5px;
}
.select2-container-multi .select2-choices .select2-search-field input {
	padding-left: 7px;
	padding-bottom: 4px;
	padding-top: 7px;
	width: 308px;
}
.middle_section {
	margin: 0px 15px 15px 15px;
}
h4 {
	padding-top: 10px;
}
}

/* Large desktop */
@media (min-width: 1200px) {
	

.container {
	padding-top: 30px;
	padding-left: 20%;
}
.result-container {
	margin-bottom: 15px;
}
.result-middle {
	width: 280px;
	height: 79px;
	display: block;
	float: left;
}
.result-cost {
	height: 79px;
	width: 120px;
	float: left;
}
ol.bs-wizard-sidebar li {
	display: block;
	margin-left: 89px;
	margin-bottom: 15px;
}
.bs-wizard {
	margin-top: 25px;
}
.select2-search-field {
	height: 26px;
}
.padding-left {
	height: 27px;
	padding-left: 13px;
}


  
  .tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}



.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {

  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
	border-left: 5px solid #0aa699;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;

}



.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    padding-bottom: 9px;
}

}

.tabs-right > .nav-tabs {
  float: right;
  
  margin-left: 19px;

}




.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {

}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	border: 0px;
border-left:5px solid rgba(10, 166, 153, 0.63);
border-radius: 0;
    padding-bottom: 8px;
}
.nav-tabs>li>a{
		border: 0px;
		font-size: 18px;
	
}

.nav-tabs>li>a:hover{
	border: 0px;
background:rgb(243, 243, 243);
border-radius: 0;

}


.tab-content{
	margin-left: 100px;
}

.item-row{
	display: flex;
margin-bottom: 15px;
}


div#posts{
	margin-left: 50px;
}



.confirm{
	display:none;
}