/* Large desktop */
@media (min-width: 1200px) {
    ol.bs-wizard-sidebar li {
        display: block;
        margin-left: 89px;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    .bs-wizard {
        margin-top: 25px;
    }

    .select2-search-field {
        height: 28px;
    }

    .padding-left {
        height: 27px;
        padding-left: 13px;
    }

    input {
        height: 37px;
    }

    .container {
        margin-left: 10%;

    }

}

/* Portrait tablet to landscape and desktop */
@media (max-width: 768px) and (max-width: 990px) {
    .select2-search-field {
        height: 35px;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        width: 22px;
        height: 22px;
        top: -9px;
    }

    .select2-search-field {
        height: 35px;
    }

    .ui-slider {
        margin-top: 9px;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        width: 22px;
        height: 22px;
        top: -9px;
    }

    .select2-container .select2-choice {
        height: 37px;
        padding-top: 5px;
    }

    .select2-container-multi .select2-choices .select2-search-field input {
        padding-left: 7px;
        padding-bottom: 4px;
        padding-top: 7px;
        width: 308px;
    }

    .padding-left {
        height: 37px;
        padding-left: 10px;
        padding-top: 7px;
    }

    label {
        padding-top: 9px;
        height: 37px;
    }

    input {
        height: 37px;
    }

    .round {
        height: 26px;
    }

    body {
        padding-left: 15px;
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 767px) {

    .select2-container-multi .select2-choices .select2-search-choice {
        padding-top: 0;
        padding-bottom: 0;
    }

    .select2-search-choice-close {
        top: 0;
    }

}

/* Landscape phones and down */
@media (max-width: 545px) {
    .row-result-nav {
        margin-bottom: 15px;
    }

    .padding-left {
        height: 37px;
        padding-left: 10px;
        padding-top: 7px;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        width: 22px;
        height: 22px;
        top: -9px;
    }

    .select2-container .select2-choice {
        height: 37px;
        padding-top: 5px;
    }

    .select2-container-multi .select2-choices .select2-search-field input {
        padding-left: 7px;
        padding-bottom: 4px;
        padding-top: 7px;
        width: 308px;
    }

    label {
        padding-top: 9px;
        height: 37px;
    }

    .input {
        height: 37px;
    }

    .round {
        height: 26px;
    }

    .select2-container-multi .select2-choices .select2-search-choice {
        padding-top: 0;
        padding-bottom: 0;
    }

    .select2-search-choice-close {
        top: 0;
    }

    body {
        padding-left: 15px;
    }

    .container {
        margin-left: 0;
    }

}