<div class="modal-body">
	<div class="cd-popup-container">
		<h3>NotifyMe</h3>

		<p> NotifyMe will automatically send you a notification when a new submission matches your criteria.</p>
		<dl>
			<div class="row">
				<div class="col-xs-6">
					<dt>Make:</dt>
					<dd>
						<span ng-repeat="make in filters.selectedMakeNames">{[make.name]} {[ $last ? '' : ', ']} </span>
					</dd>
					<dt>Brand:</dt>
					<dd>
						<span ng-repeat="brand in filters.selectedBrandNames">{[brand.name]} {[ $last ? '' : ', ']} </span>
					</dd>
					<dt>Type:</dt>
					<dd>
						<span ng-repeat="type in filters.selectedTypeNames">{[type.name]} {[ $last ? '' : ', ']} </span>
					</dd>
					<dt>Model:</dt>
					<dd>
						<span ng-repeat="model in filters.selectedModelNames">{[model.name]} {[ $last ? '' : ', ']} </span>
					</dd>
				</div>

				<div class="col-xs-6">
					<dt>Price:</dt>
					<dd>{[filters.priceFrom]} - {[filters.priceTo]}</dd>
					<dt>Year:</dt>
					<dd>{[filters.yearFrom]} - {[filters.yearTo]}</dd>
					<dt>Mileage:</dt>
					<dd>{[filters.mileageFrom]} - {[filters.mileageTo]}</dd>
				</div>
			</div>
		</dl>

		<ul class="cd-buttons">
			<li><a class="cd-close" href="#0" ng-click="cancel()">Cancel</a></li>
			<li ng-click="notifyMe()"><a class="cd-save" href="#0">Save</a></li>
		</ul>
		<a href="#0" class="cd-popup-close img-replace" ng-click="cancel()"></a>
	</div>
</div>